@charset "utf-8";
/* CSS Document */


.integral_deal{float:left}



/*交易中心box*/
.integral_deal{width:596px;margin-right:60px}
.category{border-bottom:1px solid #808080}
.category h1,.category h2,.category h3,.category h4{float:left;font-size:14px;color:#808080;line-height:40px;width:68px;text-align:center}
.category h5{float:left;font-size:14px;color:#808080;line-height:40px;width:152px;text-align:center}
.category h1,.category h2,.category h3,.category h5{margin-right:43px}

.item{border-bottom:1px solid #d9d9d9}
.item h1,.item h2,.item h3,.item h4{float:left;font-size:14px;color:#4d4d4d;line-height:40px;width:68px;text-align:center;}
.item h5{float:left;font-size:14px;color:#4d4d4d;line-height:40px;width:152px;text-align:center;}
.item h1,.item h2,.item h3,.item h5{margin-right:43px}
.item h3,.item h4{color:#ec1d23}

.item1 h1,.item1 h2,.item1 h3,.item1 h4{float:left;font-size:14px;color:#4d4d4d;line-height:40px;width:68px;text-align:center;}
.item1 h5{float:left;font-size:14px;color:#4d4d4d;line-height:40px;width:152px;text-align:center;}
.item1 h1,.item1 h2,.item1 h3,.item1 h5{margin-right:43px}
.item1 h3,.item1 h4{color:#ec1d23}

.line_box{width:596px}
.line_box *{float:left}
.deal_line{width:262px;height:1px;background-color:#ec1d23;margin-top:10px}
.line_box h1{font-size:14px;color:#ec1d23;line-height:20px;margin:0 11px 0 10px}

.buy{display:block;line-height:36px;width:60px;height:36px;background-color:#ec1d23;font-size:16px;color:#fff;text-align:center; border:1px solid #ec1d23;
border-radius:4px;margin:30px 200px 0 500px;}


.purchase_quantity{margin-left:20px}
.purchase_quantity,.pay_cash{margin-top:-5px}
.purchase_quantity,.pay_cash,.purchase_quantity p,.purchase_quantity input,.pay_cash p{float:left}
.purchase_quantity p{font-size:14px;color:#4d4d4d;line-height:24px}
.purchase_quantity input{width:70px;height:24px;border:1px solid #d4d4d4;padding:0 10px;text-align:right;margin:15px 20px}
.pay_cash{font-size:14px;color:#4d4d4d;line-height:24px}
.pay_cash_number{margin-left:10px;color:#ec1d23}