@charset "utf-8";
/* CSS Document */

/*universal*/
.clearfix{clear:both}
*{font-family:"微软雅黑"}

/*CSS eliminate*/
body{margin:0}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:normal}
a{text-decoration:none}
img{display:block}
ul,li{margin:0;padding:0;list-style:none;font-weight:normal}
input{margin:0;border:none}
p{margin:0}
.headline,.number{float:left}
.headline{margin-right:30px;margin-top:50px;}
p{font-size:14px;color:#808080;line-height:48px;}
.number{width:160px}
.number1{border:1px solid #d4d4d4;width:150px;height:24px;padding-left:10px;margin-top:60px;}
.number2{border:1px solid #d4d4d4;width:150px;height:24px;padding-left:10px;margin-top:25px;}
.apply_for{width:80px;height:32px;background-color:#ec1d23;color:#fff;border-radius:4px;margin:20px 0 0 260px}
.apply_for:hover{transform:translateY(-2px)}
.moneyImg{float:left;margin-top:50px;margin-left:50px;}
.moneyImg span{float:left;font-size:14px;margin-left:7px;color:#4d4b4a;font-weight:500px;margin-top:5px;}